import Columns from "../Columns/index.marko";
import Filter from "../Filter/index.marko";

<template>
  <div class="board" ondrop("handleDrop") ondragover("allowDrop")>
    <Filter />
    <Columns />
  </div>
</template>

<link rel="stylesheet" href="/styles/Board/style.css">
<script src="./component.js" />
