.quickfilter-title, .filter-title {
    color: #78be5a; 
    font-weight: bold; 
    font-size: 1rem; 
    margin-bottom: 10px; 
  }
  
  #quick-filters {
    padding: 10px;
    margin-top: -2rem;
  }
  
  #filter-container {
    padding: 10px;
    margin-top: 0rem;
  }
  
  .filter-buttons, .quick-filter-buttons {
    display: flex;
    gap: 10px;
  }
  
  .filter-btn {
    border: 2px solid #78be5a; 
    background-color: #fff;
    color: #091e42; 
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    border-radius: 50px;
  }
  
  .filter-btn:hover {
    border-color: rgba(0, 0, 0, 0.1);
  }
  
  .filter-btn.active {
    border: 2px solid #091e42;
    background-color: #091e42; 
    color: white; 
  }
  