.ticket {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #dfe1e6;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .ticket:hover {
    background-color: #ebecf0;
  }
  
  .modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .modal .close {
    align-self: flex-end;
    cursor: pointer;
    font-size: 20px;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 1rem;
    background-color: #78be5a;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #66a54c;
  }
  