.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #091e42;
  color: white;
  padding: 10px 20px;
}

.settings-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.settings-btn:hover {
  color: #78be5a;
}