<div class="footer">
  <p>&copy; 2024  Alle Rechte vorbehalten.</p>
  <div class="footer-links">
    <a href="#impressum">Impressum</a>
    <a href="#datenschutz">Datenschutz</a>
    <a href="#kontakt">Kontakt</a>
  </div>
</div>

<style src="./style.css"></style>